<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Vistas
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="VISTA_AUTENTICACION.html" target="ObjectDetailsFrame">VISTA_AUTENTICACION</a>
<a href ="VISTA_CANTONES.html" target="ObjectDetailsFrame">VISTA_CANTONES</a>
<a href ="VISTA_CLIENTES_CEDULA_CORREO.html" target="ObjectDetailsFrame">VISTA_CLIENTES_CEDULA_CORREO</a>
<a href ="VISTA_DEPARTAMENTOS.html" target="ObjectDetailsFrame">VISTA_DEPARTAMENTOS</a>
<a href ="VISTA_DISTRITOS.html" target="ObjectDetailsFrame">VISTA_DISTRITOS</a>
<a href ="VISTA_EMPLEADOS_COMPLETA.html" target="ObjectDetailsFrame">VISTA_EMPLEADOS_COMPLETA</a>
<a href ="VISTA_FACTURAS.html" target="ObjectDetailsFrame">VISTA_FACTURAS</a>
<a href ="VISTA_HORARIOS.html" target="ObjectDetailsFrame">VISTA_HORARIOS</a>
<a href ="VISTA_MENU_COMPLETO.html" target="ObjectDetailsFrame">VISTA_MENU_COMPLETO</a>
<a href ="VISTA_MESAS.html" target="ObjectDetailsFrame">VISTA_MESAS</a>
<a href ="VISTA_MESAS_DISPONIBLES.html" target="ObjectDetailsFrame">VISTA_MESAS_DISPONIBLES</a>
<a href ="VISTA_METODO_PAGO.html" target="ObjectDetailsFrame">VISTA_METODO_PAGO</a>
<a href ="VISTA_PEDIDOS_CLIENTE.html" target="ObjectDetailsFrame">VISTA_PEDIDOS_CLIENTE</a>
<a href ="VISTA_PEDIDOS_CLIENTES.html" target="ObjectDetailsFrame">VISTA_PEDIDOS_CLIENTES</a>
<a href ="VISTA_PERSONAS_COMPLETA.html" target="ObjectDetailsFrame">VISTA_PERSONAS_COMPLETA</a>
<a href ="VISTA_PLATILLOS.html" target="ObjectDetailsFrame">VISTA_PLATILLOS</a>
<a href ="VISTA_PROVINCIAS.html" target="ObjectDetailsFrame">VISTA_PROVINCIAS</a>
<a href ="VISTA_PUESTOS.html" target="ObjectDetailsFrame">VISTA_PUESTOS</a>
<a href ="VISTA_RESERVACIONES.html" target="ObjectDetailsFrame">VISTA_RESERVACIONES</a>
<a href ="VISTA_ROLES.html" target="ObjectDetailsFrame">VISTA_ROLES</a>
<a href ="VISTA_ROL_PERSONA.html" target="ObjectDetailsFrame">VISTA_ROL_PERSONA</a>

</div></body> </html>